asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
Django==3.0.8
django-autocomplete-light==3.8.1
isort==4.3.21
itsdangerous==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.0
Pillow==8.0.0
pylint==2.5.3
pylint-django==2.3.0
pylint-plugin-utils==0.6
PyQt5==5.14.0
PyQt5-sip==12.8.0
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
venvipy==0.2.16
wrapt==1.12.1
xlwt==1.3.0

class Vendor(models.Model):
    vendor_id = models.CharField(max_length=10, unique=True)
    nama_vendor = models.CharField(max_length=30, null=True)
    alamat_vendor = models.CharField(max_length=120, null=True, blank='True')
    pic_vendor = models.CharField(max_length=15, null=True, blank='True')
    notelp_kantor = models.CharField(max_length=15, null=True, blank='True')
    notelp_pic = models.CharField(max_length=15, null=True, blank='True')

    def __str__(self):
        return self.vendor_id

class VechileType(models.Model):
    jenis = models.CharField(max_length=20, primary_key=True)

    def __str__(self):
        return self.jenis

class Vechile(models.Model):
    MERK_CHOICE = (
        ('hino', 'Hino'),
        ('volvo', 'Volvo'),
        ('mercedes', 'Mercedes'),
        ('toyota', 'Toyota'),
        ('scania', 'Scania'),
        ('isuzu', 'Isuzu'),
        ('mitsubishi', 'Mitshubishi'),
    )
    no_polisi = models.CharField(max_length=10, unique=True)
    alias = models.CharField(max_length=20, null=True)
    photo = models.ImageField(upload_to='', null=True, blank='True')
    jenis = models.ForeignKey(VechileType, on_delete=models.SET_NULL, null=True, blank='True')
    jumlah_seat = models.CharField(max_length=20, null=True)
    merek = models.CharField(max_length=20, null=True, blank='True', choices=MERK_CHOICE)
    tanggal_stnk = models.DateField(null=True)
    tanggal_pembelian = models.DateField(null=True, blank='True')
    harga_beli = models.DecimalField(max_digits=6, decimal_places=2, null=True, blank='True')
    scan_faktur_beli = models.ImageField(upload_to='', null=True, blank='True')
    vendor_id = models.ForeignKey(Vendor, on_delete=models.SET_NULL, null=True, blank='True')

    def save(self, force_insert=False, force_update=False):
        self.no_polisi = self.no_polisi.upper()
        self.alias = self.alias.upper()
        super(Vechile, self).save(force_insert, force_update)

    def __str__(self):
        return self.no_polisi
