{% extends 'base/base.html' %}

{% block title %}Data Pesanan{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Booking</a></li>
                            <li class="active">Booking List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">List Pesanan</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <p><a style='color:#33f8bc'>[*]PENDING</a> || <a style='color:yellow'>[*]DOWN PAYMENT </a> || <a style='color:green'>[*]FULL PAYMENT </a></p>
                        <div id='calendar'>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.colss-->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            timeZone: 'Asia/Jakarta',
            initialView: 'custom',
            resourceAreaWidth : '25%',
            selectable: true,
            dateClick: function(info) {
                window.open("{% url 'create-book' %}?resourceId=" + encodeURIComponent(info.resource.id) + "&start=" + encodeURIComponent(info.dateStr),"_self");
            },
            eventClick: function(info) {
                alert('No Polisi: ' + info.event.title);

                // change the border color just for fun
                info.el.style.borderColor = 'red';
            },
            views: {
                custom: {
                    allDay : true,
                    titleFormat: { year: 'numeric', month: 'short', day: 'numeric' },
                    type: 'resourceTimeline',
                    duration: { weeks: 2 },
                    slotDuration: {days: 1},
                    // slotLabelFormat: {
                    //     hour: '2-digit',
                    //     minute: '2-digit',
                    //     omitZeroMinute: false,
                    //     meridiem: 'false',
                    //     hour12: false
                    // },
                    slotLabelFormat: [
                        { month: 'short', year: 'numeric'},
                        { day: '2-digit' },
                        { weekday: 'short' }, // top level of text
                        // { weekday: 'short' } // lower level of text
                    ],
                }
            },
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: '',
            },
            resourceAreaColumns: [
                {
                    field: 'no_polisi',
                    headerContent: 'Nomor Polisi'
                },
                {
                    field: 'alias',
                    headerContent: 'Alias'
                },
            ],
            resources: {
                url: "{% url 'vechilejson' %}",
            },
            // eventSources: [
            // // your event source
            // {
            //     url: "{% url 'bookingjson' %}", // use the `url` property
            //     allDay: 'true'
            // }
            // ]
            // events: [
            //     {
            //         id: '1',
            //         resourceId: '1',
            //         title  : 'event3',
            //         start  : '2021-02-20',
            //         end    : '2021-02-23T23:59:59',
            //         // allDay : 'True',
                    
            //     }
            // ]
            events:  "{% url 'bookingjson' %}",
        });
        calendar.render();
     });
    // document.addEventListener('DOMContentLoaded', function() {
    //     var calendarEl = document.getElementById('calendar');

    //     var calendar = new FullCalendar.Calendar(calendarEl, {
    //         timeZone: 'local',
    //         initialView: 'twoWeek',
            
    //         views: {
    //             twoWeek: {
    //                 // titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' },
    //                 eventContent: { html: '<i>some html</i>' },
    //                 dayHeaderFormat: { day: '2-digit', omitCommas: true },
    //                 type: 'timeGridWeek',
    //                 duration: { weeks: 2 },
    //                 buttonText: '2 weeks',
    //                 slotLabelFormat: {
    //                     hour: '2-digit',
    //                     minute: '2-digit',
    //                     omitZeroMinute: false,
    //                     meridiem: 'false',
    //                     hour12: false
    //                 },
    //             }
    //         },
    //         headerToolbar: {
    //             left: 'prev,next today',
    //             center: 'title',
    //             right: '',
    //         },
    //     });
    //     calendar.render();
    // });
</script>
{% endblock content %}