{% extends 'base/base.html' %}

{% block title %}Tambah Armada{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">Dashboard</a></li>
                            <li><a href="#">Armada</a></li>
                            <li class="active">Tambah Armada</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Tambah Armada</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">

                        <form action="#" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="photo" class="col-sm-2 col-form-label">Gambar</label>
                                <div class="col-sm-10">
                                    {{ form.photo }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="no_polisi" class="col-sm-2 col-form-label">No Polisi <a style='color:red'>*</a></label>
                                <div class="col-sm-10">
                                    {{ form.no_polisi }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="alias" class="col-sm-2 col-form-label">Alias <a style='color:red'>*</a></label>
                                <div class="col-sm-10">
                                    {{ form.alias }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="jenis" class="col-sm-2 col-form-label">Jenis</label>
                                <div class="col-sm-10">
                                    {{ form.jenis }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="merek" class="col-sm-2 col-form-label">Merek</label>
                                <div class="col-sm-10">
                                    {{ form.merek }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="jumlah_seat" class="col-sm-2 col-form-label">Jumlah Seat</label>
                                <div class="col-sm-10">
                                    {{ form.jumlah_seat }}
                                </div>  
                            </div>
                            <div class="form-group row">
                                <label for="tanggal_stnk" class="col-sm-2 col-form-label">Tanggal STNK <a style='color:red'>*</a></label>
                                <div class="col-sm-10">
                                    {{ form.tanggal_stnk }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tanggal_pembelian" class="col-sm-2 col-form-label">Tanggal Pembelian</label>
                                <div class="col-sm-10">
                                    {{ form.tanggal_pembelian }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="harga_beli" class="col-sm-2 col-form-label">Harga Beli</label>
                                <div class="col-sm-10">
                                    {{ form.harga_beli }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="scan_faktur_beli" class="col-sm-2 col-form-label">Scan Faktur Beli</label>
                                <div class="col-sm-10">
                                    {{ form.scan_faktur_beli }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vendor_id" class="col-sm-2 col-form-label">Vendor Id</label>
                                <div class="col-sm-10">
                                    {{ form.vendor_id }}
                                </div>
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Create Armada</span>
                                </button>
                            </div>
                        </form>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{field.label}}: <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{field.label}}: <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}
